<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="baemin.member.mapper.memberMapper">

	<!-- SIGN UP -->
	<insert id="signup" parameterType="baemin.member.domain.MemberDTO">
		insert into tbl_member(user_id, user_name, user_password, telno, email,address,authority_code,system_id)
		value(#{user_id}, #{user_name}, #{user_password}, #{telno}, #{email},#{address},#{authority_code},#{user_id})
	</insert>
	<!-- test
	insert into tbl_member (userid, userpassword, username, telno, email)
		VALUE('test','test','test','test','test'); -->
		
		
	<!-- LOGIN CHECK -->
	<select id="logincheck" parameterType="baemin.member.domain.MemberDTO" resultType="int">
		select count(*)
		from tbl_member
		where user_id=#{user_id} 
	</select>
	<!-- tes
		select count(*)
		from tbl_member
		where userid='test' and userpassword='test'; -->
		
		
	<!-- ID SAME CHECK -->
	<select id="idsame" parameterType="baemin.member.domain.MemberDTO" resultType="int">
		select count(*)
		from tbl_member
		where user_id=#{user_id}
	</select>
	
	<!-- LOGIN MEMBER INFORMATION /PASSWORD ENCODING DECODING  -->
	<select id="memberInfo" parameterType="baemin.member.domain.MemberDTO" resultType="baemin.member.domain.MemberDTO">
		select user_id, user_password, user_name, telno, email
		from tbl_member
		where user_id=#{user_id}
	</select>
	
	<!-- 
	
	 -->
	 <insert id="postDetailInsert" parameterType="baemin.member.domain.DetailInsertDTO">
	 	insert into tbl_member_detail(
	 		user_id,bank_name,bank_number,delivery_zipcode,delivery_road,delivery_detail,
	 		address_code_group_id,address_code_id,member_state_group_id,member_state_id,system_id)
	 	value(#{user_id},#{bank_name},#{bank_number},#{delivery_zipcode},
	 		#{delivery_road},#{delivery_detail},#{address_code_group_id},
	 		#{address_code_id},"A",#{member_state_id},#{user_id})	
	 		
	 </insert>
	
</mapper>